# ===============================
# Backend (Spring Boot)
# ===============================
backend/target/
backend/*.log

# ===============================
# Frontend (React Vite)
# ===============================
frontend/node_modules/
frontend/dist/

# ===============================
# General
# ===============================
.env
.DS_Store
